footer {
	background-color: #777;
	padding:10px;
	text-align: center;
	color: white;
	  }
.navbar {
	margin-bottom: 50px;
	border-radius: 0;
}
	  
	 
.jumbotron {
		margin-bottom: 0;
}
img{
	height:40%;
	width:40%;
}
	  